*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 1000px;
    background: white;
    margin: 0 auto;
}

.box {
    display: inline-block;
    width: 300;
    height: 550px;
    margin: 0 15px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.sale {
    color: rgb(255, 0, 85);
}

.cuore {
    position: absolute;
    top: 20px;
    left: 240px;
    width: 30px;
    height: 30px;
    background: white;
    text-align: center;
    padding: 10px;
}

.salebox {
    display: inline-block;
    position: absolute;
    top: 350px;
    width: 30px;
    height: 25px;
    background: rgb(255, 0, 85);
    color: white;
    text-align: center;
    padding: 5px;
}

.sostenibilità {
    display: inline-block;
    position: absolute;
    top: 350px;
    left: 35px;
    width: 70px;
    height: 25px;
    background: rgb(65, 141, 125);
    color: white;
    text-align: center;
    padding: 5px;
}

.sostenibilità2 {
    display: inline-block;
    position: absolute;
    top: 350px;
    width: 70px;
    height: 25px;
    background: rgb(65, 141, 125);
    color: white;
    text-align: center;
    padding: 5px;
}


/* Modello1 */
.modello {
    display: inline-block;
    width: 270px;
    height: 400px;
    background-size: cover;
    position: relative;
}

.modello .img1 {
    width: 100%;
    display: block;
}

.modello .img2 {
    width: 100%;
    display: none;
}

.modello:hover .img1 {
    display: none;
}
.modello:hover .img2 {
    display: block;
}
